body, header, article, section, dl, dt, dd, ul, ol, li, p, div, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2;
    color: #333;
    font: 300 16px/21px Roboto,sans-serif;
}

#page-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
}

#page-nav {
    flex: 0 0 80px;
    background: rgba(0, 0, 0, 0.2);
}

#page-nav a {
    display: block;
    height: 80px;
    text-align: center;
    font-size: 36px;
    line-height: 80px;
    color: #999;
    border-bottom: 1px solid #aaa;
    cursor: default;
    transition: background-color 200ms;
}

#page-nav a.enabled {
    color: #000;
    cursor: pointer;
}

#page-nav a.enabled:hover {
    background: #fff;
}

#page-nav a.active,
#page-nav a.active:hover {
    background: #f2f2f2;
    cursor: default;
}

#page-content {
    flex: 1;
}

